body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f4f8;
}

h1 {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    color: #333333;
}


#quiz-container {
    background: #ffffff;
    width: 60%;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
}


.question-text {
    font-size: 20px;
    color: #444444;
    margin-bottom: 30px;
}

.buttons {
    margin-top: 20px;
    margin-bottom: 30px;
}

.buttons button {
    background: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
    transition: background 0.3s ease;
}

.buttons button:hover {
    background: #0056b3;
}

#explanation-container{
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.5;
}

.explanation {
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.5;
}

.correct {
    background: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
}

.incorrect {
    background: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
}

#repeat-test-btn{
    display: block;
    margin: 20px auto 0;
    background: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#repeat-test-btn:hover {
    background: #218838;
}

#next-question-btn {
    display: block;
    margin: 20px auto 0;
    background: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#prev-question-btn {
    background: #71b781;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 6px 10px;
    font-size: 12px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#next-question-btn:hover {
    background: #218838;
}

/* Disabled button styling */
.answer-button.disabled {
    background: #cccccc; /* Gray background */
    color: #666666; /* Darker text */
    cursor: not-allowed; /* Pointer indicates the button is disabled */
    border: 1px solid #aaaaaa; /* Light gray border */
}

.answer-button.disabled:hover {
    background: #cccccc; /* Keep gray on hover */
}


footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #007bff;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}


@media (max-width: 480px) {
    #quiz-container {
        width: 80%;
    }
    .question-text {
        font-size: 15px;
    }
    #explanation-container{
        font-size: 12;
    }
    .explanation {
        font-size: 12;
    }
    #prev-question-btn {
        margin-top: 15px;
    }
}
